<h1>New Restaurant</h1>

<%= form_for @restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %>
  <br>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <br>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', restaurants_path %>
